label{display: block; margin-top: 20px;}
body{text-align: center; }
#renomear{font-size: 12px; padding: 5px; background-color: darkcyan; color: #FFF;  margin-left: 2px;}
#link{display: block; margin-bottom: 5px;}